<!-- <div class="pt-16">
    <h1 class="font-bold text-9xl flex justify-center">About Us</h1>

    <div>
        <p class="text-center summary mx-auto mt-5">
            DOMUS PERFECTUS personalizes its brand by answering the following questions through its operation of services: How Competent are we? How Sincere are we? How Sophisticated are we? How Exciting are we? How Tough are we? These five (5) character traits guide the personality of the brand.
        </p>
    </div>

    <div>
        <h1 class="font-bold text-6xl flex justify-center">Mission Statement</h1>

        <div>
            <p class="text-center summary mx-auto mt-5">
                "Domus Perfectus’ mission is to ultimately guarantee 100% customer service satisfaction by accurately executing client’s requirements in a friendly yet professional manner, and maintain a loyal and trustworthy business relationship."
            </p>
        </div>
    </div>

    <div>
        <h1 class="font-bold text-6xl flex justify-center">Vision Statement</h1>

        <div>
            <p class="text-center summary mx-auto mt-5">
                "Domus Perfectus’ vision is to build a multi national corporation that will cater to the interior design and supply requirements. To inspire and empower youths with the same drive for creativity and integrity."
            </p>
        </div>
    </div>

</div> -->

<div class="relative pb-52 isolate overflow-hidden bg-gray-900 py-24">
  <img src="../../assets/about/about.png" alt=""
    class="absolute inset-0 -z-10 h-full w-full object-cover object-right md:object-center">
  <svg viewBox="0 0 1097 845" aria-hidden="true"
    class="hidden transform-gpu blur-3xl sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:w-[68.5625rem]">
    <path fill="url(#10724532-9d81-43d2-bb94-866e98dd6e42)" fill-opacity=".2"
      d="M301.174 646.641 193.541 844.786 0 546.172l301.174 100.469 193.845-356.855c1.241 164.891 42.802 431.935 199.124 180.978 195.402-313.696 143.295-588.18 284.729-419.266 113.148 135.13 124.068 367.989 115.378 467.527L811.753 372.553l20.102 451.119-530.681-177.031Z" />
    <defs>
      <linearGradient id="10724532-9d81-43d2-bb94-866e98dd6e42" x1="1097.04" x2="-141.165" y1=".22" y2="363.075"
        gradientUnits="userSpaceOnUse">
        <stop stop-color="#776FFF" />
        <stop offset="1" stop-color="#FF4694" />
      </linearGradient>
    </defs>
  </svg>
  <svg viewBox="0 0 1097 845" aria-hidden="true"
    class="absolute left-1/2 -top-52 -z-10 w-[68.5625rem] -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu">
    <path fill="url(#8ddc7edb-8983-4cd7-bccb-79ad21097d70)" fill-opacity=".2"
      d="M301.174 646.641 193.541 844.786 0 546.172l301.174 100.469 193.845-356.855c1.241 164.891 42.802 431.935 199.124 180.978 195.402-313.696 143.295-588.18 284.729-419.266 113.148 135.13 124.068 367.989 115.378 467.527L811.753 372.553l20.102 451.119-530.681-177.031Z" />
    <defs>
      <linearGradient id="8ddc7edb-8983-4cd7-bccb-79ad21097d70" x1="1097.04" x2="-141.165" y1=".22" y2="363.075"
        gradientUnits="userSpaceOnUse">
        <stop stop-color="#776FFF" />
        <stop offset="1" stop-color="#FF4694" />
      </linearGradient>
    </defs>
  </svg>

  <div class="mx-auto max-w-7xl px-6 lg:px-8">


    <div class="justify-center mx-auto xl:flex">

      <div class="mx-auto max-w-2xl md:mx-auto text-start">
        <h2 class="text-4xl font-bold tracking-tight text-white sm:text-4xl">About us</h2>

        <p class="mt-6 text-lg leading-8 text-gray-300"><strong> Domus Perfectus Nigeria Limit ed (DP) </strong> is
          building finishes firm which provides interior design services, landscaping services and the supply of
          sophisticated electrical fixtures accessories, ETC. It is a home based company with its main office is in
          Abuja.
          We provide interior design and landscaping services for discerning, quality-conscious clients that seek
          assistance in their design choices for their primary residences, vacation homes and businesses. This
          experience offers personal attention through the design process and also provides design resources and
          products to its clients through special purchases of lightning fixtures, furniture, fabric and accessories.
          The total experience is provided in a way to <strong>Inform, Inspire </strong> and <strong> Assist </strong>
          clients through the process of transforming their home or business environment to become a unique and
          personalized expression of themselves and adding to their enjoyment of that interior spaces.
        </p>
        <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl mt-6">COMPANY INCORPORATION</h2>
        <p class="mt-6 text-lg leading-8 text-gray-300">
          <strong> Domus Perfectus Nigeria Limited </strong> was incorporated 29th August 2014, with the Corporate
          Affairs Commission (CAC) with company registratio n number <strong> RC 1212584 </strong> and VAT/TIN number
          <strong> 17897739-0001</strong>.
        </p>
      </div>

      <div class="mx-auto max-w-2xl xl:mx-0  text-start">
        <h2 class="text-4xl font-bold tracking-tight text-white sm:text-4xl">Why Choose Us</h2>
        <p class="mt-6 text-sm leading-8 text-gray-300">Besides our top notch interior designs, there are so many more
          reasons to choose Domus. Here are a few of the most popular ones</p>
        <ul>
          <li class="mt-1">
            <h4 class="font-bold text-xl">People:</h4>
            <p class=" text-sm leading-8 text-gray-300">We are a team of organized, competent, dedicated and and
              passionate professional interior designers, we believe in both aesthetics and functionality!</p>
          </li>
          <li class="mt-1">
            <h4 class="font-bold text-xl">Experience: </h4>
            <p class=" text-sm leading-8 text-gray-300">Over the years we have provided nothing but satisfaction to our
              esteemed clients with our quality design and sweet sense of interior management.</p>
          </li>
          <li class="mt-1">
            <h4 class="font-bold text-xl">Trust: </h4>
            <p class=" text-sm leading-8 text-gray-300">We deliver with so much ease because we are good at what we do
              so our clients are very relaxed when the hand over their homes to us. In return we give them perfection.
            </p>
          </li>
          <li class="mt-1">
            <h4 class="font-bold text-xl">Research:</h4>
            <p class=" text-sm leading-8 text-gray-300">Because we have so much passion for what we do here at Domus
              Perfectus Nigeria Limited. We don't just limit our selves to the world of interior. We have a solid
              knowledge of interior and decorative arts and science. That way we deliver nothing but the best. </p>
          </li>
          <li class="mt-1">
            <h4 class="font-bold text-xl">Quality: </h4>
            <p class=" text-sm leading-8 text-gray-300">Here at 'domus Perfectus' we make sure we do quality over
              quantity, we select well designed products and high standard material to ensure that we that are strong
              enough and durable</p>
          </li>
          <li class="mt-1">
            <h4 class="font-bold text-xl">Completeness</h4>
            <p class=" text-sm leading-8 text-gray-300">Just like our name 'Domus Perfectus' we don't only give you
              perfection but we deliver your jobs on time, be it product, service or bespoke design. We deliver!!!</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="flex justify-center mb-20 mt-20 partners">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl text-center">Our International Partners</h2>
        <div class="justify-center mt-6 mx-40 md:flex">
          <img src="../../assets/about/Elmark-01.png" alt="">
          <img src="../../assets/about/schuller.png" alt="">
          <img src="../../assets/about/laica.png" alt="">
        </div>
      </div>
    </div>

    <div class="justify-center mx-auto md:flex">
      <div class="mx-auto max-w-2xl lg:mx-0 text-center">
        <h2 class="text-4xl font-bold tracking-tight text-white sm:text-4xl">Mission Statement</h2>
        <p class="mt-6 text-lg leading-8 text-gray-300">"Domus Perfectus’ mission is to ultimately guarantee 100%
          customer service satisfaction by accurately executing client’s requirements in a friendly yet professional
          manner, and maintain a loyal and trustworthy business relationship."</p>
      </div>
      <div class="mx-auto max-w-2xl lg:mx-0 text-center">
        <h2 class="text-4xl font-bold tracking-tight text-white sm:text-4xl">Vision Statement</h2>
        <p class="mt-6 text-lg leading-8 text-gray-300">"Domus Perfectus’ vision is to build a multi national
          corporation that will cater to the interior design and supply requirements. To inspire and empower youths with
          the same drive for creativity and integrity."</p>
      </div>
    </div>

    <div class="mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none flex justify-center">
      <dl class="mt-16 grid grid-cols-1 gap-8 sm:mt-20 sm:grid-cols-2 lg:grid-cols-4">
        <div class="flex flex-col-reverse">
          <dt class="text-base leading-7 text-gray-300">Offices worldwide</dt>
          <dd class="text-2xl font-bold leading-9 tracking-tight text-white">12</dd>
        </div>

        <div class="flex flex-col-reverse">
          <dt class="text-base leading-7 text-gray-300">Full-time colleagues</dt>
          <dd class="text-2xl font-bold leading-9 tracking-tight text-white">300+</dd>
        </div>

        <div class="flex flex-col-reverse">
          <dt class="text-base leading-7 text-gray-300">Hours per week</dt>
          <dd class="text-2xl font-bold leading-9 tracking-tight text-white">40</dd>
        </div>

        <div class="flex flex-col-reverse">
          <dt class="text-base leading-7 text-gray-300">Paid time off</dt>
          <dd class="text-2xl font-bold leading-9 tracking-tight text-white">Unlimited</dd>
        </div>
      </dl>
    </div>
  </div>
</div>