<!-- navbar goes here  -->
<nav class="bg-zinc-800">
  <div class="fixed top-0 left-0 right-0 px-8 mx-auto py-2 bg-zinc-800">
    <div class="flex justify-between items-center">

      <!-- primary nav goes here -->
      <div class="hidden md:flex md:text-[12px] lg:text-lg">
        <ul class="flex gap-[4vw]">
          <li>
            <a class="hover:text-white text-gray-400 active:text-blue-600 relative after:text-blue-400"
              routerLink="/">Home</a>
          </li>
          <li>
            <a class="hover:text-white text-gray-400  active:text-white" routerLink="/gallery">Gallery</a>
          </li>
          <li>
            <a class="hover:text-white text-gray-400  active:text-white" routerLink="/about-us">About Us</a>
          </li>
          <li>
            <a class="hover:text-white text-gray-400  active:text-white" routerLink="/services">Services</a>
          </li>
        </ul>
      </div>

      <!-- logo goes here  -->
      <div class="w-16">
        <img src="../../assets/landing/interior-01.png" alt="logo">
      </div>

      <!-- secondary nav goes here -->
      <div class="hidden md:flex  md:text-[12px] lg:text-lg items-center">
        <ul class="flex gap-6">
          <li>
            <a class="hover:text-white text-gray-400"
              href="mailto:domusperfectus@gmail.com">domusperfectus@gmail.com</a>
          </li>
          <li>
            <a class="hover:text-white text-gray-400" href="tel:+2348053245346">+234 (0) 805324 5346</a>
          </li>
          <li>
            <a
              class="hover:text-white text-gray-400 border border-gray-500 rounded-full hover:bg-amber-900 transition duration-300 p-2">Get
              Quote</a>
          </li>
        </ul>
      </div>

      <!-- mobile button goes here -->
      <div class="md:hidden flex">
        <div class="">
          <button (click)="menu($event)" *ngIf="!sideMenu">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
          </button>
          <button (click)="menu($event)" *ngIf="sideMenu">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6 transition duration-75">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>

    </div>
  </div>

  <!-- mobile menu goes here -->
  <div class="py-32 md:hidden px-8 w-[60%]" *ngIf="sideMenu">
    <ul class="">
      <li>
        <a class="py-2 border-b-0 hover:text-white text-gray-400 active:text-blue-600 relative after:text-blue-400"
          routerLink="/">Home</a>
      </li>
      <li>
        <a class="py-2 border-b-0 hover:text-white text-gray-400  active:text-white" routerLink="/gallery">Gallery</a>
      </li>
      <li>
        <a class="py-2 border-b-0 hover:text-white text-gray-400  active:text-white" routerLink="/about-us">About Us</a>
      </li>
      <li>
        <a class="py-2 border-b-0 hover:text-white text-gray-400  active:text-white" routerLink="/services">Services</a>
      </li>
    </ul>
  </div>

</nav>