<div class="pt-24 pb-52">
    <div>
        <!-- <h1 class="font-bold text-7xl flex justify-center">Our Services</h1> -->
        <!-- <div class="">
            <img src="../../assets/Services/buckets-paint-floor.jpg" alt="" class="mx-auto">
        </div> -->
        <!-- <div class="flex justify-between services mx-auto">
            <div class="cards bg-white">
                <div class="card bg-black w-10">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
                    </svg>

                </div>
                <div class="flex">
                    <h4 class="font-bold text-2xl">Renovations</h4>
                </div>
            </div>
            <div class="cards bg-white">
                <div class="card bg-black w-10">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
                    </svg>

                </div>
                <div class="flex">
                    <h4 class="font-bold text-2xl">Renovations</h4>
                </div>
            </div>
            <div class="cards bg-white">
                <div class="card bg-black w-10">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
                    </svg>

                </div>
                <div class="flex">
                    <h4 class="font-bold text-2xl">Renovations</h4>
                </div>
            </div>
        </div> -->

        <div class="justify-center services md:flex">
            <div class="service bg-gray-700">
                <img src="../../assets/Services/interior-01-01.png" alt="" class="w-60 mx-auto md:mr-auto">
                <h1 class="font-bold text-5xl text-center">Interiors</h1>
                <p class="text-2xl mt-1 mb-3 px-8 text-center">We offer a range of interior design services to help you
                    transform
                    your space, from full room makeovers to color consultations and furniture selection.</p>
            </div>
            <div class="service bg-gray-500">
                <img src="../../assets/Services/lighting-01-01.png" alt="" class=" w-60 mx-auto">
                <h1 class="font-bold text-5xl text-center">Lighting</h1>
                <p class="text-2xl mt-1 mb-3 px-8 text-center">Our team can help you create the perfect lighting scheme
                    for your
                    space, from task lighting for your home office to ambient lighting for your living room.</p>
            </div>
            <div class="service bg-gray-700">
                <img src="../../assets/Services/landscape-01.png" alt="" class="w-60 mx-auto md:ml-auto">
                <h1 class="font-bold text-5xl text-center">Landscaping</h1>
                <p class="text-2xl mt-1 mb-3 px-8 text-center">We also offer landscape design services to help you
                    create a
                    beautiful outdoor space, from planning and planting to hardscaping and lighting.</p>
            </div>
        </div>

    </div>
</div>